setuptools==71.1.0
tensorflow==2.16.1
keras==3.4.1
scikit-learn==1.2.2
matplotlib==3.9.1
seaborn==0.13.2
tqdm==4.66.4
gradio==4.39.0
pandas==2.2.2
numpy==1.23.5
pyarrow==16.1.0
pyyaml==6.0
scipy==1.11.3


# test on nvidia GPU
